*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;

}
body{
	background-color: #ccc;
}
#homeWrap{
	
	height: 75vh;
	position: relative;
	
}
#homeWrap:before{
	content: "";
	background:  url(1.png) no-repeat center;
	background-size: cover;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 75vh;
	left: 0px;
	z-index: -1;
	opacity: 0.8;
}
#header{
	padding-left:10px;
}
#logo{
	font-size: 20px;
	color: #fff;
	width: 150px;
	padding-top: 10px;
	text-align: center;
	line-height: 50px;
	float: left;
}
#menu{
	float: right;
	width: 80%;

}
#menu ul{
	float: right;
	margin-right: 25px;
	padding: 10px;
}
#menu ul li{
	display: inline-block;
	width: 100px;
	line-height: 50px;
}

#menu ul li a{
	text-decoration: none;
	color: #fff;
}
#menu ul li:last-child{
	background-color: #fff;
	text-align: center;
	border-radius: 25px;
}

#menu ul li:last-child a{
	color: #000;
}
#midContent{
	text-align: center;
	padding-top: 100px;
	color: #fff;
	line-height: 45px;
}
.btn{
	width:200px;
	text-align: center;
	margin: auto;
	padding: 10px;
	line-height: 25px;
	border-radius: 25px;
	font-size: 18px;
	background-color: #438aa5;
}
#sec1{
	width: 500px;
	text-align: center;
	margin:70px auto;
}
#sec1 p{ line-height: 40px; }

#sec2{
	width: 1024px;
	margin:0px auto 200px auto;
}
#sec2 ul li{
	display: inline-block;
	width: 300px;
	margin-left: 10px;
	padding: 40px 10px;
	min-height: 250px;
	background-color: rgba(255,255,255,0.8);
}
#sec2 ul li p{
	text-align: justify;
	padding: 20px;
}
#sec2 ul li div{
	height: 100px;
	text-align: center;
	padding-top: 10px; 
}
#sec2 ul li div i{
	padding: 20px;
	font-size: 40px;
	border-radius: 50%;
	background-color: #ccc;
	color: #fff;
}

.clearfix{
	clear: both;
}