*{
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu', sans-serif;
	transition: 0.1s;
	color: #fff;
	/*
		font-family: 'Ubuntu', sans-serif;
		font-family: 'Acme', sans-serif;
	*/
}

#header{
	padding: 5px;
	box-sizing: border-box;
	background-color: #0098a6;
	position: fixed;
	z-index: 1111;
	top: 0px;
	left: 0px;
	width: 100%;
}

#logo{
	width: 35%;
}
#alerts{
	width: 65%;
}

#hmeBtn, .logo{
	display: inline-block;
	width: 50px;
	text-align: center;
}
.logo{
	width: 150px;
	text-align: left;
}
#hmeBtn{
	/*background-color: #fff;*/
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
}
#hmeBtn i{
	font-size: 24px;
}
.alertInfo{
	padding: 10px;
	font-size: 18px;
}
#main{
	background:url(bg1.jpg) repeat-y;
	background-size: cover; 
}
#menu{
	height: 100vh;
	position: fixed;
	width: 20%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 0;
	text-align: center;
	padding-top: 100px;
	background-color: #0098a6b0;
	box-shadow: 0px 0px 5px 1px #000;
	font-family: 'Acme', sans-serif !important;
}
#menu #mainLogo{
	font-size: 30px;
	padding: 10px;
	box-sizing: border-box;
}
#menu ul{
	padding-top: 30px;
}
#menu ul li{
	padding: 10px;
	line-height: 30px;
	font-size: 20px;
	cursor: pointer;
	box-sizing: border-box;
	margin-top: 2px;
	text-align: right;s
}
#menu ul li:hover{
	background-color: #eee;
	color: #000;

}
#menu ul li a{
	text-decoration: none;
	color: #000;
}
#menu ul li:hover a{
	color: #000;
}
.diff{
	width: 45%;
	display: inline-block;

} 
.text-left{
	text-align: left !important;
}
.fs30{
	font-size: 30px;
}
.fs20{
	font-size: 20px;
}
.w-20{
	width: 20%;
}
.w-70{
  width: 70%;
}
#mainSection{
	width: 80%;
	height: 100vh;
	padding-bottom: 9px;
}
#dashboard{
	/*background:url(bg1.jpg) repeat-y;*/
	background-size: cover; 
	height: 100vh;
	padding-top:75px;
	box-sizing: border-box;
	width: 75%;
	margin: auto; 
	display: none;
}
.text-center{
	text-align: center !important;
}
#formHeader{
	padding-bottom: 10px;
	margin-top: 25px;
}
#formHeader h1{
	border-bottom:2px solid #eee;
	padding-bottom: 5px;
}
#rightFrom{
	width: 500px;
	margin-right: 100px;
	margin-top: 90px;
	min-height: 500px;
	background-color: #d0dfe042;
	/*border:1px solid #000;*/
	box-shadow: 0px 0px 5px 1px;
	padding: 10px;
	box-sizing: border-box;	
}
.form-control{
	width: 90%;
	border-radius: 5px; 
	line-height: 30px;
	margin:25px auto;

	/*background:#fff; */
}
.form-control label{
	padding: 6px 13px 8px 13px;
	text-align: right;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right:1px solid #000;
}

.cust{
	position: absolute;
	padding-top:10px;
	padding-left: 10px;
	font-size: 18px; 
	width:30px;
	height: 20px;
	box-sizing: border-box;
	/*background-color: #ccc;*/
	padding-bottom: 2px;
	/*border-right: 1px solid #ccc; */
}
.form-control input, select{
	width: 100%;
	line-height: 33px;
	/*border-radius: 5px;*/
	background-color: rgba(0,0,0,0); !important;
	outline: none;
	border:none;
	padding-left: 45px;
	border-bottom: 2px solid #000;
	font-size: 18px;
	color: #fff;
	box-sizing: border-box;
}
.form-control select{
	/*background-color: rgba(0,0,0,0.3);*/
	color: #000;
}
.form-control select{
	line-height: 30px;
}

input[type=radio]{
	width: 15px;
	height: 15px;
	padding-left: 50px;
}

.btn-suc{
	padding: 8px 12px;
	background-color: #2196f3;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.btn-ora{
	padding: 8px 12px;
	background-color: #FF9800;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 3px;
}
table{
	width: 100%;
	text-align: center;
}
table,tr,td,th{
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 2px solid #ccc;
	border-collapse: collapse;
}

.editBtn, .delBtn{
	background:none !important;
	border:none;
	outline: none;
	margin-left: 10px;
}
.clr-green{
	color: #FFEB3B;
	cursor: pointer;
}
.clr-red{

	color: #ff5722;
	cursor: pointer;
}
#updateBtn,#restBtn{
	display: none;
}
input.error,select.error{
	border-bottom: 2px solid red !important;
}
span.error{
	color: red !important;
	font-size: 20px;
	display: none;
}
.lh5{
	line-height: 5px !important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
